/* 初始化 */
* {
	margin: 0;  /* 外边距:0 */
	padding: 0;/* 内边距:0 */
	box-sizing: border-box;/* 盒子类型:宽高从边框开算 */
	/* //作用是方便计算宽度,盒子的实际宽度是width-padding-boder */
	outline: :0; /* 外框线 */
	/* 盒子模型外的一条线 */
	user-select: noce;/* 禁止复制文本 */
	/* //禁止复制文本 */
	-webkit-tap-highlight-color: transparent;
}

.body {
	position: relative;
	padding-top: 1px;
	margin-top: -1px;
	margin-bottom: 160px;
	font-size: 16px;
}

.body,
html {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	background-color: #f2f2f2;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	top: 0;
}

/* 页面 */
/* 页面整体 */
.page-header {
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

}

.title-opts.hasNativeBar {
	padding: 20px 12px 10px 0px;
	/* /控制购物车和管理文字位置 */
}

.title-opts {
	display: flex;
	align-items: center;
	/* 竖//主轴等比例,交叉轴看属性 */
	justify-content: space-between;
	/* //横 交叉轴固定,主轴看属性 */
	color: #fff;

	background-image: linear-gradient(-90deg, #ff5000 0%, #FF8400 100%);
}

.title-opts .title {
	font-size: 20px;
	line-height: 22px;
	display: flex;
	-webkit-box-align: end;
	/* //水平右对齐,老式弹性布局 */
	align-items: flex-end;
	padding-left: 12px;
}

.title-opts .opts {
	font-size: 15px;
	line-height: 22px;
}

.title-opts .opts .opt:last-child {
	/* //选择父元素opt里面的最后一个元素的选择器 */
	margin-right: 0;
}

.title-opts .opts .opt {
	/* //意义不明 */
	margin-right: 24px;
}

.head-bar.no-empty {
	height: 125px;
}

.head-bar {
	display: flex;
	flex-direction: column;
	padding: 5px 12px 0px 12px;
	margin-top: -1px;
	background-image: linear-gradient(-90deg, #ff5000 0%, #FF8400 100%);
	color: #FFFFFF;
}

.head-bar .info {
	font-size: 12px;
	line-height: 14px;
}

/* 内容部分 */
.page-content.has-list {
	margin-bottom: 20px;
	margin-top: 85px;
}

.page-content {
	position: relative;
}

.globa_l {
	border: 0px solid black;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-shrink: 0;
}

.extendBlock {
	border: 0px solid black;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-shrink: 0;
}

.page-content #extendBlock_1 [id^="bundle_"] {
	margin-top: 12px;

	border: 0px solid black;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-shrink: 0;
}

/* //内容之底边框 */
.settlement-bar {
	position: fixed;
	bottom: 43px;
	width: 100%;
	max-width: 768px;
	z-index: 999;
	/* //z-index越高,越会显示在上层 */
	display: flex;
	justify-content: space-between;
	padding: 0 12px;
	background-color: #FFFFFF;
	height: 54px;
	align-items: center;
}

.settlement-bar .checkbox-wrapper {
	white-space: nowrap;
	/* //文本不换行 */
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.settlement-bar .checkbox-wrapper .select-all {
	position: relative;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	display: flex;
	align-items: center;
}

.settlement-bar .checkbox-wrapper .select-all .icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-image: url('https://gw.alicdn.com/tfs/TB1Y_u7erGYBuNjy0FoXXciBFXa-102-102.png');
	background-size: contain; ///* 图片设置为该区域最大 */
	background-repeat: no-repeat;
}

.settlement-bar .submit-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	overflow: hidden;
}

.settlement-bar .submit-wrapper .price-wrapper {
	white-space: nowrap;
	font-size: 15px;
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
}

.settlement-bar .submit-wrapper .price-wrapper .post-price {
	font-size: 14px;
}

.settlement-bar .submit-wrapper .price-wrapper .price {
	color: #ff5000;
	display: inline-block;
	/* //转化为行内块元素 */
	vertical-align: middle;
	/* 放在父元素的中间 */
	font-size: 15px;

}

.settlement-bar .submit-wrapper .submit.disabled {
	color: rgba(255, 255, 255, 0.5);
}

.settlement-bar .submit-wrapper .submit {
	background-image: linear-gradient(-90deg, #ff5000 0%, #FF8400 98%);
	font-size: 15px;
	line-height: 15px;
	padding: 8px 18px;
	text-align: center;
	border-radius: 80px;
	white-space: nowrap;
	margin-left: 10px;

}

/* 内容部分之商品信息 */
.dinamicx-card-group {
	border: 0px solid black;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-shrink: 0;
}

.tpl-wrapper {
	min-height: 30px;
}

.FrameLayout {
	position: relative;
	display: flex;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	width: 320px;
	height: 44px;
}

.LinearLayout {
	position: relative;
	display: flex;
	align-self: flex-start;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0px 12px;
	border-radius: 12px 12px 0px 0rem;
	background-color: rgb(255, 255, 255);
	flex-direction: row;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	max-width: calc((100%-12px)-12px);
	height: 44px;
}

.FrameLayout_2 {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	overflow: hidden;
	box-sizing: border-box;
	place-self: center flex-start;
	padding-left: 0px;
	padding-right: 0px;
	width: 160px;
	height: 40px;
}

.LinearLayout_2 {
	position: absolute;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: row;
	left: 0px;
	top: 0px;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: fit-content;
	height: 40px;
}

.FrameLayout_3 {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	place-self: center;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 45px;
	height: 40px;
}

.skycatIcon {
	position: relative;
	display: flex;
	flex-shrink: 0;
	overflow: hidden;
	place-self: center flex-end;
	margin: 0px;
	width: 18px;
	height: 18px;
}

.skycatIconimg {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url(https://img.alicdn.com/imgextra/i4/O1CN01nI8GIp1jD07VvBtc4_!!6000000004513-2-tps-66-66.png_40x40q90_.webp);
}

.IconSetting {
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
}

.textView {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	font-size: 13px;
	place-self: center flex-end;
	margin: 0px 0px 0px 10px;
	width: fit-content;
	overflow: hidden;
	justify-content: flex-end;
	align-items: center;
	visibility: visible;
	color: rgb(51, 51, 51);
	height: auto;
	max-width: none;
}

.shopname {
	white-space: nowrap;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.view {
	position: relative;
	display: flex;
	align-self: flex-start;
	visibility: visible;
	margin: 0px;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
}

.checkBox {
	position: absolute;
	display: flex;
	left: 12px;
	top: 9.5px;
	margin: 0px;
	width: 21px;
	height: 21px;
}

.circleIcon {
	border-radius: 50%;
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAABECAMAAAAPzWOAAAAANlBMVEVHcEzMzMzNzc3V1dXOzs7Nzc3Nzc3Nzc3Nzc3Nzc3b29vMzMz////19fXu7u7a2trk5OTR0dG06x/LAAAAC3RSTlMAN84GVqG36X8jB0no5zwAAAGJSURBVFjDrVjZtoQgDFOEqUvZ/v9nRwGvy1UHMHmdMadNWmhpmlsMsleCaJqIhOrl0JRilGr++ghSciygaP8zrDxtLsVnesAnh2bYKKwzWvMMrY2zG80vdbo+/dO78Pke2vn0Y989hiFSDIYvYVI84iEYGfW0mm+hIw3JO46Yijf8CBOT6p84LP+EvWeJHI4z4O5YIofhLJhrFhnk0JwJHYQ5qTsEX7I5Zpbg0cHpThTksstIdGdBHBfBnWQZMr29cHpLaOk5z8VYxP389X6xIDtZ2l0glitgt1DaQndPPsdQVG0gMRQVzmSqU2RVhcZU8J4r4VPxq/I6O1bckg/VyrpKS6lauRqxamW9N6s/MvSeqydxoQtVvcGryaoRb3SNyop35qz20Ctzgj3UTO9JJgwJJB2IsBCLIcUGKXtIA0KOAsihhDkeIQc15MqAXF6YaxRyoWNGC8iQgxm3IIMfZgSFDMOYsRyzIGBWFczShFnfMIskZqXFLNeYNR/04AB6+gA9wpQ+B30B3RGo3Y8v7Z8AAAAASUVORK5CYII=") 0% 0% / 100% 100%;
}

.arrowIcon {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	visibility: visible;
	place-self: center flex-end;
	margin: 0 0 0 3px;
	width: 6px;
	height: 10px;
}

.arrowIconImg {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url(https://img.alicdn.com/tfs/TB1uSOhKIfpK1RjSZFOXXa6nFXa-11-18.png_24x24q90_.webp);
	
}

[target=arrowImg] {
	max-width: 100%;
	max-height: 100%;
	opacity: 0;
}

.bottom {
	border: 0px solid black;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-shrink: 0;
}

.tpl-wrapper_bottom {
	min-height: 80px;
}

.FrameLayout_Bottom_1 {
	position: relative;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 320px;
	height: 165px;

}

.FrameLayout_Container{
	position: relative;
	display: flex;
	align-self: flex-start;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0px 12px;
	border-radius:  0 0 12px 12px;
	background-color: rgb(255, 255, 255);
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	min-width: calc((100% - 12px) - 12px);
	height: 165px;
	left: 0;
	top: 0;
}
[target=contentContainer] {
	position: relative;
	display: flex;
	align-self: flex-start;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0px 12px;
	border-radius: 0px;
	background-color: rgb(255, 255, 255);
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	min-width: calc((100% - 12px) - 12px);
	height: 165px;
	left: 0;
	top: 0;

}

.goodsshow_Container_1 {
	position: absolute;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	background-color: rgb(255, 255, 255);
	margin: 0px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 165px;
	left: 0;
	right: 0;
}

.goodsshow_Container_2 {
	position: absolute;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	margin: 0px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: auto;

}

[target="goodsshow_Container_3"] {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	margin: 6px 12px 6px 0;
	flex-direction: row;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	max-width: calc((100% - 0px) - 12px);
	height: auto;
}

.showLeft {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: row;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: fit-content;
	height: auto;

}

[showLeft_btnContain_1] {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 45px;
	height: 90px;
	place-self: flex-start;
}

.showLeft_btnContain_2 {
	position: relative;
	display: flex;
	align-self: flex-start;
	overflow: hidden;
	box-sizing: border-box;
	visibility: visible;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

[showLeft_checkbox] {
	position: absolute;
	display: flex;
	width: 21px;
	height: 21px;
	margin: 0;
	left: 12px;
	top: 34.5px;
}

.showCheckbox {
	border-radius: 50%;
	width: 100%;
	height: 100%;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAABECAMAAAAPzWOAAAAANlBMVEVHcEzMzMzNzc3V1dXOzs7Nzc3Nzc3Nzc3Nzc3Nzc3b29vMzMz////19fXu7u7a2trk5OTR0dG06x/LAAAAC3RSTlMAN84GVqG36X8jB0no5zwAAAGJSURBVFjDrVjZtoQgDFOEqUvZ/v9nRwGvy1UHMHmdMadNWmhpmlsMsleCaJqIhOrl0JRilGr++ghSciygaP8zrDxtLsVnesAnh2bYKKwzWvMMrY2zG80vdbo+/dO78Pke2vn0Y989hiFSDIYvYVI84iEYGfW0mm+hIw3JO46Yijf8CBOT6p84LP+EvWeJHI4z4O5YIofhLJhrFhnk0JwJHYQ5qTsEX7I5Zpbg0cHpThTksstIdGdBHBfBnWQZMr29cHpLaOk5z8VYxP389X6xIDtZ2l0glitgt1DaQndPPsdQVG0gMRQVzmSqU2RVhcZU8J4r4VPxq/I6O1bckg/VyrpKS6lauRqxamW9N6s/MvSeqydxoQtVvcGryaoRb3SNyop35qz20Ctzgj3UTO9JJgwJJB2IsBCLIcUGKXtIA0KOAsihhDkeIQc15MqAXF6YaxRyoWNGC8iQgxm3IIMfZgSFDMOYsRyzIGBWFczShFnfMIskZqXFLNeYNR/04AB6+gA9wpQ+B30B3RGo3Y8v7Z8AAAAASUVORK5CYII=") 0% 0% / 100% 100%;
	"

}

.showLeft_Img_Container1 {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 3px;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 90px;
	height: 90px;
	place-self: flex-start;
}

.showLeft_Img_Container2 {
	position: relative;
	display: flex;
	align-self: flex-start;
	margin: 0;
	width: 100%;
	height: 100%;
}

.showLeft_Img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url("https://img.alicdn.com/bao/uploaded/i1/2894473266/O1CN01vWmPJF1ZzsDtZ6pbJ_!!2894473266.jpg_190x190q90_.webp");
}

.showRight {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 0px;
	height: auto;
	
}

[showRight_Container1] {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	margin: 3px 0 0 12px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	min-width: calc((100% - 12px) - 0px);
	height: auto;
}

.showRight_topContainer1 {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: row;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: auto;
}

[showRight_topContainer2] {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 0px;
	height: auto;
	max-width: 137px;
}

[showRight_goodsnameContain] {
	position: relative;
	display: flex;
	margin: 0px 0px 8px;
	width: 100%;
	overflow: hidden;
	visibility: visible;
	color: rgb(51, 51, 51);
	height: auto;
	justify-content: flex-start;
	align-items: center;
	max-width: none;
	font-size: 14px;
	flex-shrink: 0;
	flex-grow: 0;
}

.showRight_goodsname {
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;

}

[FrameContainer_1] {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 31px;
	place-self: flex-start;
	min-width: 137px;
}

[FrameContainer_1]>div {
	position: relative;
	display: flex;
	align-self: flex-start;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	margin: 0px;
	padding-left: 0;
	padding-right: 0;
	width: fit-content;
	height: auto;
}

[FrameContainer_1]>div>div {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	background-color: rgba(236, 236, 236, 0.298);
	flex-direction: row;
	margin: 0px;
	visibility: visible;
	padding-left: 0;
	padding-right: 0;
	width: fit-content;
	border-radius: 3px;
	height: auto;
	margin-bottom:7px;
}

.textContainer {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	font-size: 13px;
	color: rgb(153, 153, 153);
	margin: 4px 6px;
	place-self: center flex-start;
	width: fit-content;
	overflow: hidden;
	visibility: visible;
	height: auto;
	justify-content: flex-start;
	align-items: center;
	max-width: none;
}

.textContainer>span {
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.textContainer+div {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	margin: 0 4px 0 0;
	visibility: visible;
	place-self: center flex-start;
	width: 10px;
	height: 4px;
}

.downImgContainer>div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(https://gw.alicdn.com/tfs/TB1c5y0Eb2pK1RjSZFsXXaNlXXa-10-6.png?getAvatar=avatar_24x24q90_.webp);

}

.downImgContainer>div>img {
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
}

.ShowRight_MContain {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: 100%;
	max-width: 137px;
}

.ShowRight_MContain>div:first-child {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: row;
	visibility: visible;
	margin: 1px 0 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: auto;
}

.ShowRight_MContain>div:first-child>div {
	flex-shrink: 0;
	flex-grow: 0;
	height: fit-content;
}

.ShowRight_MtextContainer {
	position: relative;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	padding-left: 0px;
	padding-right: 0;
	width: 71px;
	border-radius: 2px;
	height: 16px;
	margin: 0 3px 4px 0;
}

.ShowRight_MtextContainer>div {
	position: absolute;
	display: flex;
	margin: 0 3px;
	font-size: 13px;
	left: 0;
	top: 0;
	width: fit-content;
	overflow: hidden;
	visibility: visible;
	color: rgb(255, 80, 0);
	height: auto;
	justify-content: flex-start;
	align-items: center;
	max-width: none;
}

.ShowRight_MtextContainer>div>span {
	white-space: nowrap;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ShowRight_MbContainer {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: column;
	margin: 1px 0px 0px;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: auto;
	max-width: 137px;
}

.ShowRight_MbContainer>div:first-child {
	flex-shrink: 0;
	flex-grow: 0;
	height: fit-content;
}

.ShowRight_MbContainer>div:first-child>div {
	position: relative;
	display: flex;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 0 4px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 2px;
	height: 16px;
}

.Limit {
	position: absolute;
	display: flex;
	background-color: rgba(255, 255, 255, 0);
	font-size: 13px;
	left: 0px;
	top: 0px;
	margin: 0;
	width: fit-content;
	overflow: hidden;
	visibility: visible;
	color: rgb(255, 80, 0);
	height: auto;
	justify-content: flex-start;
	align-items: center;
	max-width: none;
}

.Limit>span {
	white-space: pre-wrap;
	line-height: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ShowRight_BContainer {
	position: relative;
	display: flex;
	flex-direction:row;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	place-self: flex-start center;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
	height: auto;
	min-width: 137px;
}

.price {
	position: relative;
	display: flex;
	flex: 1 1 0%;
	overflow: hidden;
	box-sizing: border-box;
	flex-direction: row;
	place-self: center flex-start;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: fit-content;
	height: auto;
}

.quantity {
	position: relative;
	display: flex;
	overflow: hidden;
	flex-shrink: 0;
	flex-grow: 0;
	box-sizing: border-box;
	visibility: visible;
	place-self: flex-end;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: fit-content;
	height: auto;
}

.price>div {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	margin: 0 3px 0 0;
	font-size: 14px;
	visibility: visible;
	place-self: center flex-start;
	width: fit-content;
	overflow: hidden;
	color: rgb(255, 85, 0);
	height: auto;
	max-width: 110px;
	justify-content: flex-start;
	align-items: center;

}

.price>div>span {
	white-space: nowrap;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sub {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 30px;
	height: 35px;
	place-self: center flex-end;
}

.sub>div {
	position: absolute;
	display: flex;
	overflow: hidden;
	right: 0px;
	top: 6.5px;
	margin: 0;
	width: 25px;
	height: 22px;
}

.sub>div>div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-image: url("https://img.alicdn.com/tfs/TB1I05Qe1uSBuNjSsplXXbe8pXa-45-40.png?getAvatar=avatar_50x50q90_.webp");
}

.sub > div > div > img {
	max-width: 100%;
	max-height: 100%;
	opacity: 0;
}

.num {
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 40px;
	height: 35px;
	place-self:flex-start;
}
.numImg{
	position: absolute;
	display: flex;
	overflow: hidden;
	left: 0px;
	top: 6.5px;
	margin: 0;
	width: 40px;
	height: 22px;
}
.numInput{
	position: absolute;
	display: flex;
	background-color: rgba(255,255,255,0);
	margin: 0;
	width: 100%;
	height: 35px;
}
.numImg > div {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	background-image: url("https://img.alicdn.com/tfs/TB1_d5ZMFzqK1RjSZFvXXcB7VXa-72-40.png?getAvatar=avatar_88x88q90_.webp");
}
.numImg > div > img {
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
}
.numInput{
	position: absolute;
	display: flex;
	background-color:rgba(255,255,255,0);
	margin: 0;
	width: 100%;
	height: 35px;
	z-index:1
}
.numInput>input{
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	padding: 0;
	margin: 0;
	user-select:auto;
	font-size: 12px;
	text-align: center;
	color: rgb(102,102,102);
	background-color:transparent;
}
.add{
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-grow: 0;
	overflow: hidden;
	box-sizing: border-box;
	place-self:center flex-start;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	width: 30px;
	height: 35px;
}
.add > div	{
	position: absolute;
	display: flex;
	overflow: hidden;
	left: 0px;
	top:6.5px;
	margin: 0;
	width: 25px;
	height: 22px;
}
.addImg{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	 background-size: contain;
	 background-image: url("https://img.alicdn.com/tfs/TB12tL6ThTpK1RjSZFKXXa2wXXa-45-40.png?getAvatar=avatar_50x50q90_.webp");;
}
.addImg>img{
	max-height: 100%;
	max-width: 100%;
	opacity: 0;
}